<% function toTitleCase(str) { return str.toLowerCase().split(' ').map(word =>
word.charAt(0).toUpperCase() + word.slice(1)).join(' '); } %>

<ul class="list">
  <% items.forEach(function(item) { %>
  <li <%="metadataAttrs(item)" %>
    style="flex-grow: 1; flex-basis: 30ch;" >
    <a class="listing-title" target="_blank" href="<%= item.path %>"
      ><strong><%= toTitleCase(item.title) %></strong></a
    >

    <div style="font-size: 12px" class="fw-light listing-author">
      <%= item.author %>
    </div>
    <div style="font-size: 12px" class="fw-light listing-journal">
      <%= item.journal %>
    </div>
    <div style="font-size: 12px" class="fw-light listing-year">
      <%= item.year %>
    </div>
  </li>
  <% }) %>
</ul>
