<ul>
  <% items.forEach(function(member) { %>
    <% if (member.isAlumni === true) { %>
      <li>
        <div><%= member.name %></div>
        <div style="font-size: 12px; font-weight: 700;"><%= member.labPosition %></div>
        <div class="font-monospace" style="font-size: 12px;"><%= member.researchInFiveWords %></div>
        <ul class="social-links">
          <% if (member.github) { %>
            <li><a href="<%= member.github %>">GitHub</a></li>
          <% } %>
          <% if (member.twitter) { %>
            <li><a href="<%= member.twitter %>">Twitter</a></li>
          <% } %>
          <!-- Repeat for other social media links as needed -->
        </ul>
      </li>
    <% } %>
  <% }); %>
</ul>
